.thumbnail {
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 12px;
  padding: 10px;
  background-color: white;
  font-family: sans-serif;
  overflow: hidden;
  height: 140px;
  width: 100px;
}

.thumbnail:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: #d6fca5;
}
.thumbnail-image {
  width: 100%;
  height: 67%;
  object-fit: contain;
}
.thumbnail-image img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.list-container {
  padding: 2px;
  width: 97%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  /* width: 200px; */
}
.list-container:hover {
  animation: scroll-text 5s linear infinite;
}
.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  position: relative;
}
.list-container p {
  margin: 5px 0px;
}
.food-title-container {
  font-size: 11pt;
}
.food-price-heart {
  display: flex;
  justify-content: space-between;
}
.food-price-heart i {
  margin: 3px;
  color: #d44300;
  font-size: 12pt;
}
.food-price-container {
  font-weight: bold;
  font-size: 12pt;
  color: #d44300;
}

.out-of-stock {
  filter: grayscale(100%) !important;
  opacity: 0.5;
  pointer-events: none;
}

.out-of-stock .thumbnail-image img {
  filter: grayscale(100%) !important;
}

.out-of-stock:hover {
  background-color: white !important;
  cursor: default;
}
