<div class="delivery-composition-container">
  <p>Ordem de composição</p>
  <table class="order-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Product name</th>
        <th>Status</th>
        <th>Kitchen</th>
        <th>Quantity</th>
        <th>Total price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>#3604</td>
        <td>Franceny</td>
        <td>New <span class="edit-icon">✏️</span></td>
        <td></td>
        <td>1 kg</td>
        <td>$11.00</td>
      </tr>
      <tr>
        <td>#3605</td>
        <td>Watering Meals</td>
        <td>New <span class="edit-icon">✏️</span></td>
        <td></td>
        <td>10</td>
        <td>$115.14</td>
      </tr>
      <tr>
        <td>#3605</td>
        <td>Watering Meals</td>
        <td>New <span class="edit-icon">✏️</span></td>
        <td></td>
        <td>10</td>
        <td>$115.14</td>
      </tr>
    </tbody>
  </table>
</div>
