.navbar {
  /* width: calc(100%-16px); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.logo {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 10px 10px 10px 30px;
  font-weight: bold;
  font-family: sans-serif;
  height: 60px;
}
.logo-icon {
  width: 40px;
  height: 40px;
  /* background-color: limegreen; */
  border-radius: 50%;
  margin-right: 8px;
}
.logo-text {
  font-size: 16pt;
  padding-left: 15px;
  font-weight: bold;
}
.search-bar {
  flex: 4;
  padding: 20px 20px 20px 80px;
  border-left: 2px solid #ddd;
}
.search-bar i {
  color: #646464;
  font-size: 18pt;
}
.search-bar input {
  font-size: 28px;
  width: 90%;
  /* height: 40px; */
  padding: 4px;
  padding-left: 20px;
  border: 0px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.nav-text {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 40px;
  padding: 20px;
  font-size: 24pt;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  border-left: 2px solid #ddd;
}
.nav-text-big {
  font-size: 20pt;
  padding: 10px;
  font-weight: bold;
}
.nav-text-small {
  font-size: 11pt;
  padding: 5px;
}
.notification-icon {
  flex: 1.2;
  padding: 0px 10px;
  border-left: 2px solid #ddd;
  font-size: 12px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-help {
  font-size: 30px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 20px 0px 20px 40px;
  flex: 1;
}
.icon-bell {
  position: relative;
  font-size: 30px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 20px;
  flex: 2;
}
.icon-global {
  font-size: 30px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 20px 40px 20px 0px;
  flex: 1;
}
.badge {
  position: absolute;
  top: 22px;
  right: 20px;
  background-color: #89e70a;
  color: rgb(0, 0, 0);
  font-size: 18pt;
  font-family: sans-serif;
  /* font-weight: bold; */
  width: 50px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
