<div class="navbar">
  <!-- <div *ngIf="isMobile">dd</div> -->
  <div class="logo" *ngIf="!isMobile">
    <img src="../../../assets/img/Logo.jpg" class="logo-icon" />
    <div class="logo-text">Fy Hub Pro</div>
  </div>

  <div class="search-bar">
    <input
      type="text"
      placeholder="Pesquisar produtos."
      (input)="onSearchChange($event)"
    />
    <i class="fas fa-search"></i>
  </div>

  <div class="nav-text" *ngIf="!isMobile">
    <span class="nav-text-big">17</span>
    <span class="nav-text-big">36</span>
    <p class="nav-text-small">21</p>
  </div>

  <div class="notification-icon" *ngIf="!isMobile">
    <div class="icon-help">
      <i class="fas fa-question-circle"></i>
    </div>

    <div class="icon-bell">
      <i class="fas fa-bell"></i>
      <div class="badge">15</div>
    </div>

    <div class="icon-global">
      <i class="fa-solid fa-globe"></i>
    </div>
  </div>
</div>
