<div class="filter">
  <span class="gear">
    <i class="fa-solid fa-sliders"></i>
  </span>
  <span
    class="filtermenu-home"
    [class.filter-menu-active]="activeFilter === 'Todos'"
    (click)="setActiveFilterToAll()"
    >Todos</span
  >
  <span
    *ngFor="let category of categories"
    class="filtermenu-home"
    [class.filter-menu-active]="activeFilter === category.nome"
    (click)="setActiveFilter(category.nome)"
    >{{ category.nome }}</span
  >
  <div *ngIf="!categories.length">No categories available.</div>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>
</div>
