<app-deliverform
  *ngIf="showDeliverForm"
  (closeForm)="onCloseDeliverForm()"
></app-deliverform>
<div class="product">
  <div class="order-title">
    <span>Products</span>
    <i class="fa-regular fa-trash-can"></i>
  </div>
  <hr />
  <div class="deliver-list-container">
    <app-orderlist></app-orderlist>
  </div>
  <div class="subtotal-container">
    <hr />
    <div>
      <span>Subtotal</span>
      <span>$ 117.16</span>
    </div>
    <div>
      <span>Tax</span>
      <span>$ 1.17</span>
    </div>
    <div>
      <span>Service fee</span>
      <span>$ 1.00</span>
    </div>
  </div>

  <div class="total-price">
    <hr />
    <div>
      <span>Total price</span>
      <span>$ 119.33</span>
    </div>
    <button (click)="onOrderClick()">Order</button>
  </div>
</div>
