<div class="order-list-container" *ngFor="let product of orderList">
  <!-- <p class="food-title">{{ orderData.orderTitle }}</p> -->
  <p class="food-title">{{ product.title }}</p>
  <div class="detail-container">
    <div class="order-number">
      <p>{{ ingredient_number }}</p>
      <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="in-de-crease">
      <button class="minus-btn" (click)="decrementingredient()">-</button>
      <button class="plus-btn" (click)="incrementingredient()">+</button>
    </div>
    <span class="order-price"
      >$ {{ product.price * ingredient_number | number : "1.2-2" }}</span
    >
  </div>
  <hr />
</div>
