<div class="addmodal" *ngIf="thumbnailData">
  <div class="addmodal-content-1">
    <div class="addmodel-close">
      <i class="fa-regular fa-circle-xmark" (click)="closeModal()"></i>
    </div>

    <div class="addmodal-content">
      <div class="addmodal-image">
        <img [src]="thumbnailData.image" />
        <div class="addmodal-counter">
          <button class="decrement" (click)="decrementorder()">-</button>
          <label>{{ ordernumber }}</label>
          <button class="increment" (click)="incrementorder()">+</button>
        </div>
      </div>
      <div class="addmodal-text">
        <span>{{ thumbnailData.title }}</span>
        <p>
          {{ thumbnailData.description }}
        </p>
        <hr />
        <div class="addmodal-size">
          <p>Tamanho</p>
          <label
            ><input
              type="radio"
              name="size"
              value="medium"
              checked
            />Medium</label
          >
          <label><input type="radio" name="size" value="large" />Large</label>
          <label
            ><input type="radio" name="size" value="extra-large" /> Extra
            large</label
          >
        </div>
        <hr />
        <div class="addmodal-ficha">
          <p>Ficha</p>
          <div class="addmodal-check">
            <label><input type="checkbox" /> Second</label>
            <label><input type="checkbox" /> Second</label>
            <label><input type="checkbox" /> Second</label>
            <label><input type="checkbox" /> Second</label>
            <label><input type="checkbox" /> Second</label>
            <label><input type="checkbox" /> Second</label>
            <label><input type="checkbox" /> Second</label>
            <label><input type="checkbox" /> Second</label>
          </div>
        </div>
        <hr />
        <div class="addmodal-ingredient">
          <p>ingredients</p>
          <div class="addmodal-quantity">
            <div class="addmodal-quantity-set">
              <label><input type="checkbox" /></label>
              <div class="addmodal-quantity-counter">
                <button class="decrement" (click)="decrementingredient()">
                  -
                </button>
                <label>{{ ingredient_number }}</label>
                <button class="increment" (click)="incrementingredient()">
                  +
                </button>
              </div>
            </div>
            <label class="addmodal-vassabi">Vassabi <br />$10.10</label>
            <label><input type="checkbox" /></label>
            <label class="addmodal-vassabi">Vassabi <br />$10.10</label>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="addmodal-submit">
      <button class="addmodal-submit-btn" (click)="onAddClick()">
        Adicionar
      </button>
      <div class="addmodal-submit-text">
        <textarea placeholder="Observações"></textarea>
      </div>
      <div class="addmodal-submit-price">
        <span>Preço</span>
        <p>${{ thumbnailData.price }}</p>
      </div>
    </div>
  </div>
</div>
