<div class="order-card">
  <div class="order-card-id-container">
    <div class="order-card-img">
      <i class="fa-regular fa-image"></i>
    </div>
    <div class="order-card-id">
      <div class="order-header">Order #ID3047</div>
      <div class="order-subtitle">#ID3047 &bull; Jun 10, 08:48</div>
    </div>
  </div>

  <hr />
  <hr />
  <div class="order-summary">
    <div><span>Subtotal</span><span>$126.14</span></div>
    <div><span>Tax</span><span>$1.26</span></div>
    <div><span>Delivery free</span><span>$25,982.51</span></div>
    <div><span>Discount</span><span class="discount">-$0.00</span></div>
    <div class="total-price">
      <span>Total price</span><span>$26,109.91</span>
    </div>
  </div>
  <hr />
  <div class="add-delivery">
    <span><strong>Entregador</strong></span>
    <button>Add Entregador</button>
  </div>
  <p>Ainda não há entregador para este pedido.</p>
</div>
