<div class="root-container">
  <app-navbar *ngIf="!isMobile" (searchKeyword)="onSearch($event)"></app-navbar>
  <hr *ngIf="!isMobile" class="devider" />
  <div class="second-container">
    <!-- <div class="left-bar"></div> -->
    <app-leftbar
      *ngIf="isMobile"
      class="left-bar"
      [class.open]="isMobile"
    ></app-leftbar>
    <app-leftbar-desktop
      *ngIf="!isMobile"
      class="left-bar"
      [class.open]="isMobile"
    ></app-leftbar-desktop>
    <div *ngIf="isMobile" class="search-bar">
      <input type="text" placeholder="Pesquisar produtos." />
      <i class="fas fa-search"></i>
    </div>
    <div class="right-bar">
      <div *ngIf="activeTab === 'home'">
        <app-home *ngIf="!isMobile"></app-home>
        <app-home-mobile *ngIf="isMobile"></app-home-mobile>
      </div>
      <div *ngIf="activeTab === 'delivery'">
        <app-delivery></app-delivery>
      </div>
      <div *ngIf="activeTab === 'user'">
        <app-user></app-user>
      </div>
      <div *ngIf="activeTab === 'table'">
        <app-table></app-table>
      </div>
      <div *ngIf="activeTab === 'dollar'">
        <app-dollar></app-dollar>
      </div>
      <div *ngIf="activeTab === 'cash'">
        <app-cash></app-cash>
      </div>
    </div>
  </div>
</div>
