.devider {
  background-color: #ddd;
  /* height: 1px; */
  margin-top: 5px;
  margin-bottom: 0px;
}
.second-container {
  display: flex;
  /* height: calc(100% - 90px); */
}
.left-bar {
  width: 100px;
}
.right-bar {
  background-color: #ddd;
  width: calc(100%-100px);
}
