<div class="table-card">
  <div class="table-seller">
    Seller githubit.
    <i class="fa-solid fa-ellipsis-vertical"></i>
  </div>
  <div class="table-phone">(11) 88777-888</div>
  <hr />
  <div class="table-info">
    <div class="table-date">
      <span><strong>Hora de início</strong></span>
      <span><strong>Tempo</strong> 45:98</span>
    </div>
    <div class="table-time">
      <p>Sep 12, 2:00</p>
      <p>45:98</p>
    </div>
  </div>
  <hr />
  <div class="table-icon"><img src="table-icon.png" alt="Table icon" /> 1</div>
  <div class="table-card-submit">
    <div class="table-status">Aberto</div>
    <div class="table-price">R$ 1.100,89</div>
  </div>
</div>
