.delivery-pending-title {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 20px;
  padding: 12px;
}
.delivery-pending-title h3 {
  font-size: 20pt;
  margin: 5px 0px;
  color: gray;
}
.delivery-pending-title p {
  font-size: 14pt;
  margin: 5px 0px;
}
.delivery-pending-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(174, 0, 255);
  color: white;
  font-weight: bold;
}
.delivery-pending-lists {
  margin: 20px;
}
