<app-selectuser
  *ngIf="showSelectUser"
  (closeUser)="onCloseSelectUser()"
></app-selectuser>
<app-selectaddress
  *ngIf="showSelectAddress"
  (closeAddress)="onCloseSelectAddress()"
></app-selectaddress>
<!-- delivery tab -->
<div class="delivermodal" *ngIf="activeTab === 'delivery'">
  <div class="delivermodal-content-1">
    <div class="delivermodal-close">
      <p>Order</p>
      <i (click)="onCloseDeliver()">&times;</i>
    </div>

    <div class="delivermodal-container">
      <div class="delivermodal-row">
        <div class="delivermodal-item">
          <select
            class="delivermodal-select"
            (click)="onCustomerSelectBoxClick()"
            (change)="onCustomerSelect($event.target.value)"
          >
            <option *ngIf="!hasSelectedCustomer" value="" disabled selected>
              Select user
            </option>
            <option *ngFor="let customer of customers" [value]="customer.id">
              {{ customer.nome }}
            </option>
          </select>
          <button
            class="delivermodal-icon-button"
            (click)="onSelectUserClick()"
          >
            <i class="fa-solid fa-user-plus"></i>
          </button>
        </div>
        <div class="delivermodal-item">
          <select
            class="delivermodal-select"
            (click)="onAddressSelectBoxClick()"
            [disabled]="!selectedCustomerId"
          >
            <option *ngIf="addresses.length === 0" disabled selected>
              Select address
            </option>
            <option *ngFor="let address of addresses" [value]="address.id">
              {{ address.tipo }} - {{ address.rua }}, {{ address.numero }},
              {{ address.bairro }}, {{ address.cidade }}, {{ address.uf }} -
              {{ address.cep }}
            </option>
          </select>
          <button
            class="delivermodal-icon-button"
            (click)="onSelectAddressClick()"
          >
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="delivermodal-row">
        <div class="delivermodal-item">
          <input
            type="text"
            placeholder="Promo code"
            class="delivermodal-input"
          />
          <button class="delivermodal-icon-button">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
        <div class="delivermodal-item">
          <select
            class="delivermodal-select"
            (click)="onPaymentSelectBoxClick()"
          >
            <option value="" disabled selected *ngIf="!hasSelectedCustomer">
              Forma de Pagamento
            </option>
            <option *ngFor="let method of paymentMethods" [value]="method.id">
              {{ method.formaPagamento }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <hr />
    <!-- deliver tab -->
    <div class="delivermodal-tab-container">
      <h2 class="delivermodal-tab-heading">Shipping information</h2>
      <div class="delivermodal-tab-options">
        <button
          class="delivermodal-tab-option delivermodal-tab-active"
          [class.delivermodal-tab-active]="activeTab === 'delivery'"
          (click)="activeTab = 'delivery'"
        >
          <i class="fa-solid fa-truck"></i>
          Delivery
        </button>
        <button
          class="delivermodal-tab-option"
          [class.delivermodal-tab-active]="activeTab === 'pickup'"
          (click)="activeTab = 'pickup'"
        >
          <i class="fa-solid fa-person-walking"></i>
          Pickup
        </button>
        <button
          class="delivermodal-tab-option"
          [class.delivermodal-tab-active]="activeTab === 'dine-in'"
          (click)="activeTab = 'dine-in'"
        >
          <i class="fa-solid fa-utensils"></i>
          Dine-In
        </button>
      </div>
      <div class="delivermodal-tab-dropdowns">
        <select class="delivermodal-tab-select">
          <option>Select delivery date</option>
        </select>
        <select class="delivermodal-tab-select">
          <option>Select delivery time</option>
        </select>
      </div>
    </div>
    <hr />
    <!-- deliver user -->
    <div class="delivermodal-user-container">
      <div class="delivermodal-user-section-container">
        <div class="delivermodal-user-section">
          <label for="user" class="delivermodal-user-label">* User</label>
          <select id="user" class="delivermodal-user-select">
            <option>Select client</option>
          </select>
        </div>
        <div class="delivermodal-user-section">
          <label for="address" class="delivermodal-user-label">* Address</label>
          <select id="address" class="delivermodal-user-select">
            <option>Select address</option>
          </select>
        </div>
      </div>

      <div class="delivermodal-user-prices">
        <div class="delivermodal-user-price-item">
          <span>Subtotal</span>
          <span class="delivermodal-user-price-value">$ 18.18</span>
        </div>
        <div class="delivermodal-user-price-item">
          <span>Tax</span>
          <span class="delivermodal-user-price-value">$ 0.18</span>
        </div>
        <div class="delivermodal-user-price-item">
          <span>Service fee</span>
          <span class="delivermodal-user-price-value">$ 1.00</span>
        </div>
        <div class="delivermodal-user-price-item">
          <span>Delivery free</span>
          <span class="delivermodal-user-price-value">$ 26,489.66</span>
        </div>
      </div>
    </div>
    <hr />

    <!-- Place order -->
    <div class="delivermodal-place-container">
      <button
        class="delivermodal-place-button"
        [class.delivermodal-tab-active]="activeTab === 'confirm'"
        (click)="activeTab = 'confirm'"
      >
        Place Order
      </button>
      <div class="delivermodal-place-total">
        <span class="delivermodal-place-total-label">Total price</span>
        <span class="delivermodal-place-total-value">$ 26,509.02</span>
      </div>
    </div>
  </div>
</div>

<!-- pickup tab -->
<div class="delivermodal" *ngIf="activeTab === 'pickup'">
  <div class="delivermodal-content-2">
    <div class="delivermodal-close">
      <p>Order</p>
      <i (click)="onCloseDeliver()">&times;</i>
    </div>

    <div class="delivermodal-container">
      <div class="delivermodal-row">
        <div class="delivermodal-item">
          <select class="delivermodal-select">
            <option>Promo code</option>
          </select>
        </div>
        <div class="delivermodal-item">
          <select class="delivermodal-select">
            <option>Forma de Pagamento</option>
          </select>
        </div>
      </div>
    </div>
    <hr />
    <!-- deliver tab -->
    <div class="delivermodal-tab-container">
      <h2 class="delivermodal-tab-heading">Shipping information</h2>
      <div class="delivermodal-tab-options">
        <button
          class="delivermodal-tab-option"
          [class.delivermodal-tab-active]="activeTab === 'delivery'"
          (click)="activeTab = 'delivery'"
        >
          <i class="fa-solid fa-truck"></i>
          Delivery
        </button>
        <button
          class="delivermodal-tab-option delivermodal-tab-active"
          [class.delivermodal-tab-active]="activeTab === 'pickup'"
          (click)="activeTab = 'pickup'"
        >
          <i class="fa-solid fa-person-walking"></i>
          Pickup
        </button>
        <button
          class="delivermodal-tab-option"
          [class.delivermodal-tab-active]="activeTab === 'dine-in'"
          (click)="activeTab = 'dine-in'"
        >
          <i class="fa-solid fa-utensils"></i>
          Dine-In
        </button>
      </div>
    </div>
    <hr />
    <div class="delivermodal-user-prices">
      <div class="delivermodal-user-price-item">
        <span>Subtotal</span>
        <span class="delivermodal-user-price-value">$ 72.72</span>
      </div>
      <div class="delivermodal-user-price-item">
        <span>Tax</span>
        <span class="delivermodal-user-price-value">$ 0.73</span>
      </div>
      <div class="delivermodal-user-price-item">
        <span>Service fee</span>
        <span class="delivermodal-user-price-value">$ 1.00</span>
      </div>
    </div>
    <hr />
    <!-- Place order -->
    <div class="delivermodal-place-container">
      <button
        class="delivermodal-place-button"
        [class.delivermodal-tab-active]="activeTab === 'confirm'"
        (click)="activeTab = 'confirm'"
      >
        Place Order
      </button>
      <div class="delivermodal-place-total">
        <span class="delivermodal-place-total-label">Total price</span>
        <span class="delivermodal-place-total-value">$ 74.75</span>
      </div>
    </div>
  </div>
</div>
<!-- dine in tab -->
<div class="delivermodal" *ngIf="activeTab === 'dine-in'">
  <div class="delivermodal-content-2">
    <div class="delivermodal-close">
      <p>Order</p>
      <i (click)="onCloseDeliver()">&times;</i>
    </div>

    <div class="delivermodal-container">
      <div class="delivermodal-row">
        <div class="delivermodal-item">
          <select class="delivermodal-select">
            <option>Forma de Pagamento</option>
          </select>
        </div>
      </div>
    </div>
    <hr />
    <!-- deliver tab -->
    <div class="delivermodal-tab-container">
      <h2 class="delivermodal-tab-heading">Shipping information</h2>
      <div class="delivermodal-tab-options">
        <button
          class="delivermodal-tab-option"
          [class.delivermodal-tab-active]="activeTab === 'delivery'"
          (click)="activeTab = 'delivery'"
        >
          <i class="fa-solid fa-truck"></i>
          Delivery
        </button>
        <button
          class="delivermodal-tab-option"
          [class.delivermodal-tab-active]="activeTab === 'pickup'"
          (click)="activeTab = 'pickup'"
        >
          <i class="fa-solid fa-person-walking"></i>
          Pickup
        </button>
        <button
          class="delivermodal-tab-option delivermodal-tab-active"
          [class.delivermodal-tab-active]="activeTab === 'dine-in'"
          (click)="activeTab = 'dine-in'"
        >
          <i class="fa-solid fa-utensils"></i>
          Dine-In
        </button>
      </div>
    </div>
    <hr />
    <div class="delivermodal-user-prices">
      <div class="delivermodal-user-price-item">
        <span>Subtotal</span>
        <span class="delivermodal-user-price-value">$ 72.72</span>
      </div>
      <div class="delivermodal-user-price-item">
        <span>Tax</span>
        <span class="delivermodal-user-price-value">$ 0.73</span>
      </div>
      <div class="delivermodal-user-price-item">
        <span>Service fee</span>
        <span class="delivermodal-user-price-value">$ 1.00</span>
      </div>
    </div>
    <hr />
    <!-- Place order -->
    <div class="delivermodal-place-container">
      <button
        class="delivermodal-place-button"
        [class.delivermodal-tab-active]="activeTab === 'confirm'"
        (click)="activeTab = 'confirm'"
      >
        Place Order
      </button>
      <div class="delivermodal-place-total">
        <span class="delivermodal-place-total-label">Total price</span>
        <span class="delivermodal-place-total-value">$ 74.75</span>
      </div>
    </div>
  </div>
</div>
<!-- confirm form -->
<div *ngIf="activeTab === 'confirm'" class="confirm-background">
  <div class="confirm-container">
    <div class="confirmorder-container">
      <div class="confirmorder-header">
        <button
          class="confirmorder-back-button"
          [class.delivermodal-tab-active]="activeTab === 'delivery'"
          (click)="activeTab = 'delivery'"
        >
          &lt; Back
        </button>
        <span class="confirmorder-dine-in">dine_in</span>
      </div>
      <div class="confirmorder-order-details">
        <h2 class="confirmorder-title">Order</h2>
        <p class="confirmorder-item">Total item</p>
        <p class="confirmorder-item-value">Spaghetti Bolognese</p>
      </div>
      <hr />

      <div class="confirmorder-summary">
        <div class="confirmorder-row">
          <span class="confirmorder-label">Subtotal</span>
          <span class="confirmorder-value">$ 0.00</span>
        </div>
        <div class="confirmorder-row">
          <span class="confirmorder-label">Tax</span>
          <span class="confirmorder-value">R$ 0.00</span>
        </div>
        <div class="confirmorder-row">
          <span class="confirmorder-label">Servicio</span>
          <span class="confirmorder-value">R$ 1.00</span>
        </div>
        <div class="confirmorder-row">
          <span class="confirmorder-label">Delivery free</span>
          <span class="confirmorder-value">R$ 0.00</span>
        </div>
        <div class="confirmorder-row">
          <span class="confirmorder-label">Discount</span>
          <span class="confirmorder-value">-R$ 0.00</span>
        </div>
      </div>
      <hr />
      <div class="confirmorder-total">
        <div class="confirmorder-row">
          <span class="confirmorder-label">Total price</span>
          <span class="confirmorder-value">R$ 1.00</span>
        </div>
        <div class="confirmorder-row">
          <span class="confirmorder-label">Refund</span>
          <span class="confirmorder-value">-R$ 9.00</span>
        </div>
      </div>

      <div class="confirmorder-actions">
        <button class="confirmorder-button">Confirm order</button>
      </div>
    </div>

    <div class="confirm-container-calc">
      <div class="confirmcal-header">
        <p class="confirmcal-payable-label">Payable amount</p>
        <p class="confirmcal-payable-amount">$ 0.00</p>
      </div>
      <hr />
      <div class="confirmcal-input-container">
        <input type="text" class="confirmcal-input" value="10" readonly />
      </div>

      <div class="confirmcal-keypad">
        <button class="confirmcal-key">1</button>
        <button class="confirmcal-key">2</button>
        <button class="confirmcal-key">3</button>
        <button class="confirmcal-key">4</button>
        <button class="confirmcal-key">5</button>
        <button class="confirmcal-key">6</button>
        <button class="confirmcal-key">7</button>
        <button class="confirmcal-key">8</button>
        <button class="confirmcal-key">9</button>
        <button class="confirmcal-key">00</button>
        <button class="confirmcal-key">0</button>
        <button class="confirmcal-key confirmcal-backspace">⌫</button>
        <button class="confirmcal-key confirmcal-dot">.</button>
        <button class="confirmcal-key confirmcal-ok">Ok</button>
      </div>
    </div>
  </div>
</div>
