<div class="deliverlist-container">
  <div class="deliverlist-left">
    <h2>CLAUDIA</h2>
    <p>03 Nov 09:46 (35 minutos)</p>
    <p>
      <i class="fa-solid fa-location-dot"></i>
      .Francisco Beltão - SP
    </p>
    <p class="deliverlist-price"><strong>R$ 62.40</strong></p>
  </div>
  <div class="deliverlist-right">
    <i class="fa-solid fa-motorcycle"></i>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/3/3b/IFood_logo.png"
      class="icon"
    />
    <p>1704</p>
  </div>
  <div class="deliverlist-function">
    <i class="fa-solid fa-ellipsis"></i>
  </div>
</div>
