<div class="addmodal" *ngIf="thumbnailData">
  <div class="addmodal-content-1">
    <div class="addmodel-close">
      <i class="fa-solid fa-angle-left" (click)="closeModal()"></i>
      <span>{{ thumbnailData.title }}</span>
      <i class="fa-solid fa-cart-shopping"><p>3</p></i>
    </div>

    <div class="addmodal-content">
      <div class="addmodal-image">
        <img [src]="thumbnailData.image" />
      </div>
      <div class="addmodal-title-heart">
        <span>{{ thumbnailData.title }}</span>
        <span class="addmodal-heart" (click)="toggleFavorite()">
          <i
            class="fa-heart"
            [ngClass]="{
              'fa-solid': isFavorite,
              'fa-regular': !isFavorite,
              favorite: isFavorite
            }"
          >
          </i>
        </span>
        <i class="fa-solid fa-share-nodes"></i>
      </div>
      <div class="addmodal-description">
        <p>
          {{ thumbnailData.description }}
        </p>
      </div>
      <div class="addmodal-submit-price">
        <p>R${{ thumbnailData.price * this.ordernumber | number : "1.2-2" }}</p>
        <div class="stars">
          <i
            *ngFor="let star of stars; let i = index"
            class="fa-star"
            [ngClass]="{ 'fa-solid': i < rating, 'fa-regular': i >= rating }"
            (click)="setRating(i + 1)"
          >
          </i>
        </div>
      </div>
    </div>

    <div class="addmodal-cart-container">
      <!-- <div class="addmodal-cart-quantity">
        <div class="addmodal-quantity-img">
          <img [src]="thumbnailData.image" />
        </div>
        <div class="addmodal-quantity-title">
          <p>Quantidade</p>
          <h6>{{ thumbnailData.title }}</h6>
        </div>
        <div class="addmodal-counter">
          <button class="decrement" (click)="decrementorder()">-</button>
          <label>{{ ordernumber }}</label>
          <button class="increment" (click)="incrementorder()">+</button>
        </div>
      </div> -->
      <div class="addmodal-quantity-container">
        <div
          class="addmodal-quantity"
          *ngFor="let complemento of product.listaComplementos"
        >
          <div class="addmodal-quantity-img">
            <img [src]="thumbnailData.image" />
          </div>
          <label class="addmodal-vassabi"
            ><p>
              {{ complemento.nome }}
            </p>
            <h6>R${{ complemento.preco | number : "1.2-2" }} per slice</h6>
          </label>
          <div class="addmodal-quantity-set">
            <div class="addmodal-quantity-counter">
              <button
                class="decrement"
                (click)="decrementIngredient(complemento)"
                [disabled]="complemento.qtd <= 1"
              >
                -
              </button>
              <label>{{ complemento.qtd }}</label>
              <button
                class="increment"
                (click)="incrementingredient(complemento)"
              >
                +
              </button>
            </div>
          </div>
          <label class="addmodal-quantity-set-label">
            <input
              type="checkbox"
              [checked]="complemento.qtd > 0"
              (change)="onCheckboxChange(complemento, $event.target.checked)"
            />
            <span class="addmodal-quantity-set-checkmark"></span>
          </label>
        </div>
      </div>
      <div class="addmodal-size-container">
        <label
          *ngFor="let size of product.listaTamanhos"
          class="addmodal-size-label"
        >
          <input
            type="radio"
            name="size"
            [value]="size.tamanho.toLowerCase()"
            (change)="onSizeChange($event)"
            [checked]="
              size.tamanho.toLowerCase() ===
              product.listaTamanhos[0].tamanho.toLowerCase()
            "
          />
          {{ size.tamanho }}
          <span class="addmodal-size-checkmark"></span>
        </label>
      </div>
      <div class="addmodal-ficha-check">
        <label
          *ngFor="let ingrediente of product.listaIngredientes"
          class="addmodal-ficha-label"
        >
          <input type="checkbox" [checked]="ingrediente.quantidade === 1" />
          {{ ingrediente.nomeInsumo }}
          <span class="addmodal-ficha-checkmark"></span>
        </label>
      </div>
      <div class="addmodal-text">
        <p>Alguma observagäo?</p>
        <textarea
          placeholder="Ex: tirar a cebola, maionese a parte etc."
        ></textarea>
      </div>
      <div class="addmodal-submit">
        <div class="addmodal-counter">
          <button class="decrement" (click)="decrementorder()">-</button>
          <label>{{ ordernumber }}</label>
          <button class="increment" (click)="incrementorder()">+</button>
        </div>
        <button class="addmodal-submit-btn" (click)="onAddClick()">
          Adicionar
        </button>
      </div>
    </div>
  </div>
</div>
