<div class="cash-container">
  <div class="cash-menu">
    <div class="cash-menu-title">
      <i class="fa-solid fa-sliders"></i>
      <p class="cash-menu-mesa">Movimento de dinheiro</p>
    </div>
    <div class="cash-menu-right">
      <div class="cash-menu-refresh">
        <i class="fa-solid fa-arrows-rotate"></i>
      </div>
      <div class="cash-menu-calender">
        <i class="fa-regular fa-calendar-check"></i>
        <p>Start Date-</p>
        <P>End Date</P>
      </div>
    </div>
  </div>
  <div class="cash-card">
    <div class="cash-sent">
      <div class="cash-sent-header">
        <span>Total vendas</span>
        <span style="color: green">↑ 0%</span>
      </div>
      <div class="cash-sent-content">
        <div class="cash-sent-icon">↗</div>
        <div class="cash-sent-amount">$ 0.00</div>
      </div>
    </div>

    <div class="cash-sent">
      <div class="cash-sent-header">
        <span>Total Recebido</span>
        <span style="color: green">↑ 0%</span>
      </div>
      <div class="cash-sent-content">
        <div class="cash-received-icon">🛒</div>
        <div class="cash-sent-amount">$ 0.00</div>
      </div>
    </div>

    <div class="cash-sent">
      <div class="cash-sent-header">
        <span>Lucro Liquido</span>
        <span style="color: green">↑ 0%</span>
      </div>
      <div class="cash-sent-content">
        <div class="cash-profit-icon">↑↓</div>
        <div class="cash-sent-amount">$ 0.00</div>
      </div>
    </div>
  </div>
  <div class="cash-table"></div>
  <div class="cash-table-container">
    <table>
      <thead>
        <tr>
          <th class="checkbox"><input type="checkbox" /></th>
          <th>N°</th>
          <th>Data/Hora</th>
          <th>Canal</th>
          <th>Valor</th>
          <th>Taxas</th>
          <th>Cupon</th>
          <th>Pagamento</th>
          <th>Lucro/Preju.</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox" /></td>
          <td>807</td>
          <td>09/02/2025 19:00:00</td>
          <td><span class="channel">IFOOD</span></td>
          <td>99,99</td>
          <td>1,46</td>
          <td>Cupon20</td>
          <td><span class="payment">Master Debito</span></td>
          <td>-14,89</td>
          <td class="options">⋮</td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>807</td>
          <td>09/02/2025 19:00:00</td>
          <td><span class="channel">IFOOD</span></td>
          <td>99,99</td>
          <td>1,46</td>
          <td>Cupon20</td>
          <td><span class="payment">Master Debito</span></td>
          <td>-14,89</td>
          <td class="options">⋮</td>
        </tr>
        <!-- Repeat rows as needed -->
      </tbody>
    </table>
  </div>
  <div class="cash-footer">
    <div class="cash-statistics"></div>
    <div class="cash-entry"></div>
  </div>
</div>
