<div class="delivery-container">
  <div class="delivery-title-container">
    <p>Ordem</p>
    <i class="fa-solid fa-angle-down"></i>
  </div>
  <div class="delivery-content-container">
    <div class="delivery-content-pending">
      <app-pending></app-pending>
    </div>
    <div class="delivery-content-confirmed">
      <app-confirmed></app-confirmed>
    </div>
    <div class="delivery-content-sent">
      <app-sent></app-sent>
    </div>
    <div class="delivery-content-delivered">
      <app-delivered></app-delivered>
    </div>
    <div class="delivery-content-cancelled">
      <app-cancelled></app-cancelled>
    </div>
  </div>
</div>
