<div class="leftbar-container">
  <div
    class="leftbar-menu"
    [class.leftbar-menu-active]="activeTab === 'home'"
    (click)="activeTab = 'home'"
    (click)="onTabClick('home')"
  >
    <i class="fa-solid fa-house"></i>
  </div>

  <div
    class="leftbar-menu"
    [class.leftbar-menu-active]="activeTab === 'delivery'"
    (click)="activeTab = 'delivery'"
    (click)="onTabClick('delivery')"
  >
    <i class="fa-solid fa-bag-shopping"></i>
  </div>

  <div
    class="leftbar-menu"
    [class.leftbar-menu-active]="activeTab === 'user'"
    (click)="activeTab = 'user'"
    (click)="onTabClick('user')"
  >
    <i class="fas fa-user"></i>
  </div>

  <div
    class="leftbar-menu"
    [class.leftbar-menu-active]="activeTab === 'table'"
    (click)="activeTab = 'table'"
    (click)="onTabClick('table')"
  >
    <i class="fas fa-th-large"></i>
  </div>

  <div
    class="leftbar-menu"
    [class.leftbar-menu-active]="activeTab === 'dollar'"
    (click)="activeTab = 'dollar'"
    (click)="onTabClick('dollar')"
  >
    <i class="fa-solid fa-dollar-sign"></i>
  </div>

  <div
    class="leftbar-menu"
    [class.leftbar-menu-active]="activeTab === 'cash'"
    (click)="activeTab = 'cash'"
    (click)="onTabClick('cash')"
  >
    <i class="fa-regular fa-clock"></i>
  </div>
  <div class="profile">
    <img src="../../../assets/img/minion.png" />
  </div>

  <div class="leftbar-logout">
    <i class="fa-solid fa-arrow-right-from-bracket"></i>
  </div>
</div>
