.leftbar-container {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  height: calc(100vh-100px);
}

.leftbar-menu-home {
  display: flex;
  flex: 0 0 auto;
  font-size: 26px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 15px;
  margin-top: 20px;
}
.leftbar-menu-home.leftbar-menu-active {
  background-color: #89e70a;
  border-radius: 10px;
}

.leftbar-menu {
  /* flex: 0 0 auto; */
  font-size: 26px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 15px;
  margin-top: 20px;
}
.leftbar-menu.leftbar-menu-active {
  background-color: #89e70a;
  border-radius: 10px;
}
.leftbar-menu:hover {
  background-color: #89e70a;
  border-radius: 10px;
}
.profile {
  margin-top: auto;
  cursor: pointer;
  /* width: 30px; */
}
.profile img {
  width: 45px;
  border-radius: 50%;
}
.leftbar-logout {
  margin-top: auto;
  font-size: 30px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 20px;
}
.leftbar-logout:hover {
  background-color: #89e70a;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .leftbar-container {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
  }
  .profile {
    margin-top: 0px;
    cursor: pointer;
  }
}
