<div class="leftbar-container">
  <div class="leftbar-menu">
    <i class="fa-solid fa-house"></i>
  </div>

  <div class="leftbar-menu">
    <i class="fa-solid fa-bag-shopping"></i>
  </div>

  <div class="leftbar-menu">
    <i class="fas fa-user"></i>
  </div>

  <div class="leftbar-menu">
    <i class="fas fa-th-large"></i>
  </div>

  <div class="leftbar-menu">
    <i class="fa-solid fa-dollar-sign"></i>
  </div>

  <div class="leftbar-menu">
    <i class="fa-regular fa-clock"></i>
  </div>
  <div class="profile">
    <img src="profile-picture.jpg" />
  </div>

  <div class="leftbar-logout">
    <i class="fa-solid fa-arrow-right-from-bracket"></i>
  </div>
</div>
