<div class="orderdetail-content-1">
  <div class="orderdetail-container">
    <div class="orderdetail-row">
      <div class="orderdetail-item">
        <select class="orderdetail-select">
          <option>ddd</option>
        </select>
      </div>
      <div class="orderdetail-item">
        <select class="orderdetail-select">
          <option>Selecione o endereço</option>
        </select>
      </div>
    </div>
    <div class="orderdetail-row">
      <div class="orderdetail-item">
        <input type="text" placeholder="Promo code" class="orderdetail-input" />
      </div>
      <div class="orderdetail-item">
        <select class="orderdetail-select">
          <option value="" disabled selected>Forma de Pagamento</option>
        </select>
      </div>
    </div>
  </div>
  <hr />
  <!-- deliver tab -->
  <div class="orderdetail-tab-container">
    <h2 class="orderdetail-tab-heading">Informações de envio</h2>
    <div class="orderdetail-tab-options">
      <button class="orderdetail-tab-option orderdetail-tab-active">
        <i class="fa-solid fa-truck"></i>
        Entrega
      </button>
      <button class="orderdetail-tab-option">
        <i class="fa-solid fa-person-walking"></i>
        Escolher
      </button>
      <button class="orderdetail-tab-option">
        <i class="fa-solid fa-utensils"></i>
        jantar_em
      </button>
    </div>
    <div class="orderdetail-tab-dropdowns">
      <select class="orderdetail-tab-select">
        <option>Selecione a data de entrega</option>
      </select>
      <select class="orderdetail-tab-select">
        <option>Selecione o horário de entrega</option>
      </select>
    </div>
  </div>
</div>
