.filter {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 5px;
  border-radius: 10px;
}

.filter span {
  margin: 10px 5px;
  padding: 5px 10px;
  font-size: 16pt;
  cursor: pointer;
  font-family: sans-serif;
}
.filter span:hover {
  background-color: #89e70a;
  border-radius: 10px;
}
.filtermenu-home.filter-menu-active {
  background-color: #7cd803;
  border-radius: 10px;
}
.no-category {
  font-size: 15pt;
  padding: 14px;
}
@media only screen and (max-width: 768px) {
  .filter span {
    margin: 10px 0px;
    padding: 5px 9px;
    font-size: 13pt;
  }
}
