.rightbar-container {
  display: flex;
  width: 100%;
}
.filter-thumbnail-container {
  flex: 5;
  margin: 5px;
}
.thumbnail-container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.thumbnail-container::-webkit-scrollbar {
  display: none;
}
.thumbnail-container app-thumbnail {
  flex: 0 0 50%;
  height: 340px;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
.thumbnail-container app-thumbnail:hover {
  transform: scale(1.03);
}
.thumbnail-container app-thumbnail.show {
  opacity: 1;
  transform: translateY(0);
}
.thumbnail-container div {
  font-weight: bold;
  margin: 5px;
}
.recently-order-title {
  font-size: 12pt;
}
.recently-order-thumbnail {
  display: flex;

  flex-direction: row;
  overflow-x: auto;
}
.recently-order-thumbnail::-webkit-scrollbar {
  display: none;
}
.recently-order-comment {
  font-size: 10pt;
  font-weight: 100;
  text-align: right;
}

.thumbnail-container-hor {
  display: flex;
  flex-direction: column;
  margin: 8px;
}
.thumbnail-container-hor-tab {
  display: flex;
  justify-content: space-between;
}
.thumbnail-container-hor-title {
  font-size: 12pt;
  font-weight: bold;
  margin: 5px;
}
.thumbnail-container-hor-all {
  margin: 5px;
  cursor: pointer;
  color: #d44300;
  font-weight: bold;
}
.bag-product-container {
  flex: 2;
  margin: 5px;
}
.bag-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}
.bag-container app-bag {
  min-width: 50px;
  cursor: pointer;
}

.add-bag-btn {
  font-size: 20px;
  cursor: pointer;
}
.bag-container span {
  margin-left: auto;
  font-weight: bold;
  font-size: 35pt;
  margin: 5px;
  background-color: white;
  border-radius: 10px;
  width: 50px;
  text-align: center;
}
.bag-container span:hover {
  background-color: #89e70a;
  cursor: pointer;
}
.bag-container span:last-child {
  margin-left: auto;
}

@media (max-width: 768px) {
  .rightbar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .thumbnail-container app-thumbnail {
    flex: 0 0 33.333333%;
    height: 320px;
  }
}
