<div class="table-container">
  <div class="table-left">
    <div class="table-title-container">
      <p class="table-title-mesa">Mesas</p>
      <div class="table-title-calender">
        <i class="fa-regular fa-calendar-check"></i>
        <p>Start Date-</p>
        <P>End Date</P>
      </div>
      <div class="table-title-refresh">
        <i class="fa-solid fa-arrows-rotate"></i>
      </div>
    </div>
    <div class="table-filter-container">
      <div class="table-filter-item">
        <span>Todos</span>
        <span>Aberto</span>
        <span>Fechado</span>
        <span>Cancelado</span>
      </div>
      <span class="table-filter-refresh">
        <i class="fa-solid fa-arrows-rotate"></i>
      </span>
    </div>
    <div class="table-card-conatiner">
      <app-selcard></app-selcard>
      <app-selcard></app-selcard>
      <app-selcard></app-selcard>
      <app-selcard></app-selcard>
      <app-selcard></app-selcard>
      <app-selcard></app-selcard>
      <app-selcard></app-selcard>
      <app-selcard></app-selcard>
      <app-selcard></app-selcard>
      <app-selcard></app-selcard>
      <app-selcard></app-selcard>
      <app-selcard></app-selcard>
      <app-selcard></app-selcard>
      <app-selcard></app-selcard>
    </div>
  </div>
  <div class="table-right">
    <app-product></app-product>
    <!-- <div class="table-mesa-title">
      <p>Mesa01</p>
      <i class="fa-regular fa-trash-can"></i>
    </div>
    <hr />
    <div class="table-mesa-card"></div>
    <div class="table-mesa-price">
      <div class="table-mesa-subtotal">
        <p>Subtotal</p>
        <p>R$81.70</p>
      </div>
      <div class="table-mesa-tax">
        <p>tax</p>
        <p>R$0.82</p>
      </div>
      <div class="table-mesa-service">
        <p>service</p>
        <p>R$1.00</p>
      </div>
    </div>
    <hr />
    <div class="table-mesa-close">
      <div class="table-mesa-total">
        <p>Total price</p>
        <p>R$83.52</p>
      </div>
      <div class="table-mesa-submit">
        <button class="table-mesa-fechar">Fechar</button>
        <button class="table-mesa-ancelar">Cancelar</button>
      </div>
    </div> -->
  </div>
</div>
