<div class="rightbar-container">
  <div class="filter-thumbnail-container">
    <app-filtermenu class="filtermenu-container"></app-filtermenu>
    <div class="thumbnail-container">
      <app-thumbnail class=""></app-thumbnail>
      <app-thumbnail class=""></app-thumbnail>
      <app-thumbnail class=""></app-thumbnail>
      <app-thumbnail class=""></app-thumbnail>
      <app-thumbnail class=""></app-thumbnail>
      <app-thumbnail class=""></app-thumbnail>
      <app-thumbnail class=""></app-thumbnail>
    </div>
  </div>
  <div class="bag-product-container">
    <app-bag class=""></app-bag>
    <app-product></app-product>
  </div>
</div>
