<div class="rightbar-container">
  <div class="filter-thumbnail-container">
    <app-filtermenu class="filtermenu-container"></app-filtermenu>
    <div class="thumbnail-container">
      <div *ngIf="!products.length">Não há produtos disponíveis.</div>
      <app-thumbnail *ngFor="let product of products" [product]="product">
      </app-thumbnail>
      <app-addmodal></app-addmodal>
    </div>
  </div>
  <div class="bag-product-container">
    <div class="bag-container">
      <app-bag class=""></app-bag>
      <span>+</span>
    </div>
    <div class="product-container">
      <app-product></app-product>
    </div>
  </div>
</div>
