<div class="rightbar-container">
  <div class="filter-thumbnail-container">
    <app-filtermenu class="filtermenu-container"></app-filtermenu>
    <div class="thumbnail-container">
      <app-thumbnail
        *ngFor="let thumbnail of thumbnails"
        [image]="thumbnail.image"
        [title]="thumbnail.title"
        [stock]="thumbnail.stock"
        [price]="thumbnail.price"
      >
      </app-thumbnail>
      <app-addmodal></app-addmodal>
    </div>
  </div>
  <div class="bag-product-container">
    <div class="bag-container">
      <app-bag class=""></app-bag>
      <app-bag class=""></app-bag>
      <span>+</span>
    </div>
    <div class="product-container">
      <app-product></app-product>
    </div>
  </div>
</div>
